@use "../../../shared/config/colors.scss" as colors;

.userProfileModal {
    position: absolute;
    right: 0;
    top: 45px;
    max-width: 300px;
    width: 100%;

    &__avatar {
        border-radius: 8px;
        background-color: colors.$bg-color-black;
        color: colors.$text-white-default;
        &__premium {
            background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("/public/og-image.gif");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center 55%;
            color: white;
            border-radius: 8px;
        }
    }
}
