@use "../../../shared/config/colors.scss" as colors;

.categoryViewer {
    height: calc(100vh - 190px);
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 24px;

        &__title {
            font-size: 14px;
            font-weight: 700;
            font-family: "Inter", sans-serif;
        }
    }

    &__list {
        &__grid {
            display: grid;
            height: 100%;
            grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
            gap: 20px;
            grid-auto-rows: max-content;
            overflow-y: auto;
            padding-right: 5px;

            &::-webkit-scrollbar {
                width: 6px;
                margin-left: 10px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: 10px;
            }

            &::-webkit-scrollbar-button {
                display: none;
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 12px;
            flex: 1;
            overflow-y: auto;
            padding-right: 5px;

            &::-webkit-scrollbar {
                width: 6px;
                margin-left: 10px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: 10px;
            }

            &::-webkit-scrollbar-button {
                display: none;
            }
        }
    }

    &__item {
        max-width: 180px;
        max-height: 40px;

        &__list {
            max-width: 100%;
        }
    }
}
