@use "../../../shared/config/colors.scss" as colors;

.folderCard {
    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        padding: 10px 12px;
        border-radius: 8px;
        background-color: colors.$foldercard-bg-color;
        color: colors.$text-black-default;
        cursor: pointer;
        user-select: none;
        box-sizing: border-box;
        border: 1px solid transparent;

        &:active {
            border: 1px solid black;
        }
    }

    &__title {
        font-size: 13px;
        line-height: 18px;
        font-family: "Inter", sans-serif;
        font-weight: 500;
    }
}
