.edit-menu-container {
    position: absolute;
    top: 10rem;
    width: 13rem;
    height: 20rem;
    border-radius: 1.4rem;
    flex-direction: column;
    gap: 0.8rem;
    background: #ffffff;
    z-index: 4;
    box-shadow: 0 4px 4px 0 rgba(62, 58, 58, 0.25);
    transition: opacity 0.5s;
    padding: 1.9rem 2rem 1.9rem 2rem;

    text {
        color: #727272;
        letter-spacing: 0.05rem;
    }

    .button-element {
        border-radius: 0.8rem;
        width: 8.75rem;
        height: 2.5rem;
        display: flex;
        gap: 0.37rem;
        background: #F2F2F7;
        flex-direction: row;

        .div-image {
            width: 0.85rem;
            height: 0.85rem;
            opacity: 0.55;
        }
    }

    .button-element.exit {
        background: rgb(131, 131, 131);

        div {
            filter: invert(100%);
            opacity: 1;
        }

        text {
            color: #ffffff;
        }
    }
}