.path-container {
    width: 80%;
    height: 3vh;
    overflow-x: hidden;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 2px solid #ff0000;

    &:hover {
        cursor: grab;
    }

    &:active {
        cursor: grabbing;
        transform: scale(.95);
    }

    transition: .6s ease-out transform;

    ul {
        width: 100%;
        height: 100%;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            text {
                color: #676767;
                font-size: 0.9rem;
                font-style: normal;
                font-weight: 600;
            }
        }
    }
}
