.pull-down-menu-bottom-container {
    width: 100%;
    /*height: 23rem;*/
    height: 40vh;
    position: relative;
    display: flex;
    justify-content: center;

    .pull-down-menu-bottom-stick{
        position: absolute;
        width: 4.7rem;
        height: 1.5rem;
        bottom: 0.25rem;
    }
}