.pull-down-menu-container {
    position: absolute;
    overflow: hidden;
    width: 95%;
    /*height: 140vh;*/
    border-radius: 0 0 2.25rem 2.25rem;
    background: #5AC8FB;
    z-index: 2;
    top: -132vh;
    display: flex;
    flex-direction: column;
}

.clouds {
    background: url('../../images/PullDownMenu/clouds.svg');
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    user-select: none;
    position: absolute;
}

#cloud-4 {
    width: 16rem;
    height: 12.5rem;
    bottom: 2rem;
    right: -1rem;
}

#cloud-3 {
    width: 14rem;
    height: 10.5rem;
    top: -0.5rem;
    left: -2rem;
    transform: scaleX(-1);
}

#cloud-2 {
    width: 12rem;
    height: 10rem;
    bottom: 5rem;
    right: -3rem;
    transform: scaleX(-1);
}

#cloud-1 {
    width: 11.75rem;
    height: 10rem;
    bottom: -2.64rem;
    left: -0.75rem;
}