.stick {
    background: url('../../images/PullDownMenu/stick.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: .1s ease-out transform;

    &:hover {
        cursor: grab;
    }

    &:active {
        cursor: grabbing;
    }

    &:active {
        transform: scale(.98);
    }
}