.actionMenu {
    position: absolute;
    display: flex;
    top: 40%;
    right: -34%;
    width: 100px;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 10;
    padding: 10px;
}

.actionMenu__button {
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    color: #22215b;
    border-radius: 10px;
    transition: background-color .12s ease-in-out;

    svg {
        width: 30px;
        height: 30px;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
