.loader {
    display: flex;
    position: fixed;
    width: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    // background-color: rgba(0, 0, 0, 0.4);
    color: black;
    z-index: 4;
}

.button__loader {
    display: flex;
    max-height: 25px;
}
