@use "../../../shared/config/colors.scss" as colors;

.fileExplorer {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 310px);

    &__list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        flex: 1; // растягивается по высоте
        overflow-y: auto;
        padding-right: 5px;

        &::-webkit-scrollbar {
            width: 6px;
            margin-left: 10px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-button {
            display: none;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        grid-auto-rows: max-content;
        gap: 20px;
        flex: 1;
        // overflow-y: auto;
    }

    &__item {
        max-width: 180px;
        max-height: 40px;

        &__list {
            max-width: 100%;
        }
    }
}

.filters {
    &__container {
        display: flex;
        flex-direction: row;
        gap: 12px;
    }

    &__button {
        border: 1px solid colors.$border-default;
        border-radius: 6px;
        color: colors.$text-gray-for-filters;
        padding: 6px 12px;
        height: fit-content;
        cursor: pointer;
        font-size: 12px;
        font-weight: 500;
        font-family: "Inter", sans-serif;
    }
}
