@use "../../shared/config/colors.scss" as colors;

.notFoundPage {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    align-items: center;
    justify-content: center;

    &__title {
        font-size: 20px;
        font-weight: 700;
        font-family: "Inter", sans-serif;
    }

    &__button {
        font-size: 14px;
        font-weight: 600;
        color: #1d56de;
    }
}
